* {
  margin: 0;
  padding: 0;
}
.icon-k,
.icon-q,
.icon-j,
.icon-a {
  font-size: 35px !important;
}
.icon-hongtao {
  color: red;
}
.icon-fangkuaisvg {
  color: red;
}
.red {
  color: red;
}
.icon-B,
.icon-B1,
.icon-B2,
.icon-B3,
.icon-B4,
.icon-B5,
.icon-B6,
.icon-B7,
.icon-B8,
.icon-10 {
  font-size: 32px !important;
}
.downs {
  transform: rotate(180deg);
}
.padding-top {
  padding-top: 30px;
}
.padding-bottom {
  padding-bottom: 30px;
}
.padding-bottom-lg {
  padding-bottom: 120px;
}
.padding-bottom-lg180 {
  padding-bottom: 180px;
}
body {
  background-color: #EAEAEA;
}
#all {
  width: 1700px;
  margin: 20px auto;
  overflow: hidden;
}
#all > div {
  background-color: #FFF;
  float: left;
  width: 140px;
  height: 246px;
  border: 1px solid #aaa;
  border-radius: 10px;
  padding: 30px;
  margin: 0 20px;
  position: relative;
  margin: 20px 20px;
}
.font-top {
  position: absolute;
  top: 10px;
  left: -1px;
  text-align: center;
}
.font-top i {
  font-size: 20px;
  position: relative;
  left: 0px;
  top: -5px;
}
.font-down {
  transform: rotate(180deg);
  position: absolute;
  bottom: 10px;
  right: -1px;
  text-align: center;
}
.font-down i {
  font-size: 20px;
  position: relative;
  left: 0px;
  top: -5px;
}
.top,
.down {
  height: 123px;
  width: 140px;
  background: url("poker.jpg") no-repeat;
}
.down {
  transform: rotate(180deg);
}
.K-hongtao > div {
  background-position: -140px 0;
}
.K-fangkuai > div {
  background-position: -280px 0;
}
.K-heitao > div {
  background-position: -420px 0;
}
.Q-meihua > div {
  background-position: 0 -123px;
}
.Q-hongtao > div {
  background-position: -140px -123px;
}
.Q-fangkuai > div {
  background-position: -280px -123px;
}
.Q-heitao > div {
  background-position: -420px -123px;
}
.J-meihua > div {
  background-position: 0 -246px;
}
.J-hongtao > div {
  background-position: -140px -246px;
}
.J-fangkuai > div {
  background-position: -280px -246px;
}
.J-heitao > div {
  background-position: -420px -246px;
}
.left {
  float: left;
}
.left i {
  font-size: 51px;
}
.right {
  float: right;
}
.right i {
  font-size: 51px;
}
.middle {
  position: absolute;
  top: 40%;
  left: 38%;
}
.middle i {
  font-size: 51px;
}
.middle-top {
  position: absolute;
  top: 20%;
  left: 38%;
}
.middle-top i {
  font-size: 51px;
}
.middle-down {
  transform: rotate(180deg);
  position: absolute;
  top: 60%;
  left: 38%;
}
.middle-down i {
  font-size: 51px;
}
