<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>主机服务网站首页布局-header</title>
	<link rel="stylesheet" type="text/css" href="index.css">
	<link rel="stylesheet" type="text/css" href="font-awesome-4.7.0/css/font-awesome.css">
</head>
<body>
	<div id="header">
		<div id="header-top">
			<div id="header-top-nav">
				<div class="nav-left">
					<a href="#">登录</a>
					<span>/</span>
					<a href="#">注册</a>
				</div>
				<div class="nav-right">
					<ul class="nav-right-ul">
						<li><i class="fa fa-shopping-cart fa-lg"></i><a href="#">购物车</a></li>
						<li><i class="fa fa-object-ungroup fa-lg"></i><a href="#">购买流程</a></li>
						<li><i class="fa fa-credit-card fa-lg"></i><a href="#">付款方式</a></li>
						<li><i class="fa fa-line-chart fa-lg"></i><a href="#">续租服务</a></li>
						<li class="menu-show">
							<span>产品快速服务通道 <i class="fa fa-chevron-down fa-lg"></i></span>
							<div class="menu-hide">
								<p><a href="#">产品服务</a></p>
								<p><a href="#">售后</a></p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="header-bottom">
			<div id="header-bottom-list">
				<div class="list-left">
					<div class="logo"><img src="../../image/header/logo.png"></div>
					<div class="logo-title">
						<h2>捌跃科技</h2>
						<p>BAYUENET.COM</p>
					</div>
				</div>
				<div class="list-right">
					<ul class="list-right-ul">
						<li><a href="#">首页</a></li>
						<li><a href="#">域名注册</a></li>
						<li><a href="#">虚拟主机</a></li>
						<li><a href="#">成品网站</a></li>
						<li><a href="#">企业邮局</a></li>
						<li><a href="#">服务器租用</a></li>
						<li><a href="#">VPS 主机</a></li>
						<li><a href="#">云主机</a></li>
						<li><a href="#">智能建站</a></li>
						<li><a href="#">代理专区</a></li>
						<li><a href="#">客户中心</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<iframe src="../body/body.html" frameborder="0" scrolling="no" width="100%" height="3100px"></iframe>
	<iframe src="../footer/footer.html" frameborder="0" scrolling="no" width="100%" height="280px"></iframe>
</body>
</html>