<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>body</title>
	<link rel="stylesheet" type="text/css" href="body.css">
	<link rel="stylesheet" href="../header/font-awesome-4.7.0/css/font-awesome.css">
</head>
<body>
	<div id="body-banner"></div>
	<div id="body-main">


		<div class="language">
			<div class="language-left left-important">
				<div class="language-left-title">
					<h3>英文域名</h3>
					<p>THE DOMAIN NAME IN ENGLISH</p>
				</div>
				<div class="language-left-choose">
					<div><input type="checkbox" name="e-com" id="e-com"><label for="e-com">.com</label></div>
					<div><input type="checkbox" name="e-in" id="e-in"><label for="e-in">.in</label></div>
					<div><input type="checkbox" name="e-org" id="e-org"><label for="e-org">.org</label></div>
					<div><input type="checkbox" name="e-biz" id="e-biz"><label for="e-biz">.biz</label></div>
					<div><input type="checkbox" name="e-cn" id="e-cn"><label for="e-cn">.cn</label></div>
					<div><input type="checkbox" name="e-info" id="e-info"><label for="e-info">.info</label></div>
					<div><input type="checkbox" name="e-net" id="e-net"><label for="e-net">.net</label></div>
					<div><input type="checkbox" name="e-tv" id="e-tv"><label for="e-tv">.tv</label></div>
					<div><input type="checkbox" name="e-net-cn" id="e-net-cn"><label for="e-net-cn">.net.cn</label></div>
					<div><input type="checkbox" name="e-mobi" id="e-mobi"><label for="e-mobi">.mobi</label></div>
					<div><input type="checkbox" name="e-cc" id="e-cc"><label for="e-cc">.cc</label></div>
					<div><input type="checkbox" name="e-gov-cn" id="e-gov-cn"><label for="e-gov-cn">.gov.cn</label></div>
					<div><input type="checkbox" name="e-org-cn" id="e-org-cn"><label for="e-org-cn">.org.cn</label></div>
					<div><input type="checkbox" name="e-com-cn" id="e-com-cn"><label for="e-com-cn">.com.cn</label></div>
					<div><select><option>各省域名</option></select></div>
				</div>
				<div class="language-left-search">
					<span>www.</span>
					<input class="language-text" type="text" name="" placeholder="英文域名查询">
					<input class="language-button" type="button" name="" value="域名查询">
				</div>
			</div>
			<div class="language-right right-important">
				<div class="language-right-title">
					<h3>中文域名</h3>
					<p>THE DOMAIN NAME IN CHINESE</p>
				</div>
				<div class="language-right-choose">
					<div><input type="checkbox" name="c-com" id="c-com"><label for="c-com">.com</label></div>
					<div><input type="checkbox" name="c-in" id="c-in"><label for="c-in">.in</label></div>
					<div><input type="checkbox" name="c-org" id="c-org"><label for="c-org">.org</label></div>
					<div><input type="checkbox" name="c-biz" id="c-biz"><label for="c-biz">.biz</label></div>
					<div><input type="checkbox" name="c-cn" id="c-cn"><label for="c-cn">.cn</label></div>
					<div><input type="checkbox" name="c-info" id="c-info"><label for="c-info">.info</label></div>
					<div><input type="checkbox" name="c-net" id="c-net"><label for="c-net">.net</label></div>
					<div><select><option>各省域名</option></select></div>
				</div>
				<div class="language-right-search">
					<span>www.</span>
					<input class="language-text" type="text" name="" placeholder="中文域名查询">
					<input class="language-button" type="button" name="" value="域名查询">
				</div>
			</div>
		</div>


		<div class="host">
			<div class="host-title">
				<p>捌跃科技为您领航互联网</p>
			</div>
			<div class="host-choose">
				<div class="host-choose-1">
					<div class="host-choose-1-left left-important">
						<div class="host-span"><i class="fa fa-circle-o"></i>&nbsp;<span>基本型虚拟主机</span></div>
						<div class="host-cpt">
							<div class="left-important">
								<img src="../../image/body/1.png" alt="">
								<p class="detail-red">200~250</p>
							</div>
							<div class="right-important">
								<p class="detail-1">个人用户首选</p>
								<p class="detail-2">基本型虚拟主机，除B001外都带有小型数据库。适合学生、初级用户、小型网站、企业发布商品或品牌信息。</p>
								<p class="detail-3">分七款不同类型的空间，支持PHP，CGI,ASP，支持Access,Nysql数据库</p>
							</div>
						</div>
						<div class="button">
							<a class="right-important" href="#">GO >></a>
						</div>
					</div>
					<div class="host-choose-1-right right-important">
						<div class="host-span"><i class="fa fa-circle-o"></i>&nbsp;<span>基本型虚拟主机</span></div>
						<div class="host-cpt">
							<div class="left-important">
								<img src="../../image/body/2.png" alt="">
								<p class="detail-red">200~250</p>
							</div>
							<div class="right-important">
								<p class="detail-1">个人用户首选</p>
								<p class="detail-2">基本型虚拟主机，除B001外都带有小型数据库。适合学生、初级用户、小型网站、企业发布商品或品牌信息。</p>
								<p class="detail-3">分七款不同类型的空间，支持PHP，CGI,ASP，支持Access,Nysql数据库</p>
							</div>
						</div>
						<div class="button">
							<a class="right-important" href="#">GO >></a>
						</div>
					</div>
				</div>
				<div class="host-choose-2">
					<div class="host-choose-2-left left-important">
						<div class="host-span"><i class="fa fa-circle-o"></i>&nbsp;<span>基本型虚拟主机</span></div>
						<div class="host-cpt">
							<div class="left-important">
								<img src="../../image/body/3.png" alt="">
								<p class="detail-red">200~250</p>
							</div>
							<div class="right-important">
								<p class="detail-1">个人用户首选</p>
								<p class="detail-2">基本型虚拟主机，除B001外都带有小型数据库。适合学生、初级用户、小型网站、企业发布商品或品牌信息。</p>
								<p class="detail-3">分七款不同类型的空间，支持PHP，CGI,ASP，支持Access,Nysql数据库</p>
							</div>
						</div>
						<div class="button">
							<a class="right-important" href="#">GO >></a>
						</div>
					</div>
					<div class="host-choose-2-right right-important">
						<div class="host-span"><i class="fa fa-circle-o"></i>&nbsp;<span>基本型虚拟主机</span></div>
						<div class="host-cpt">
							<div class="left-important">
								<img src="../../image/body/4.png" alt="">
								<p class="detail-red">200~250</p>
							</div>
							<div class="right-important">
								<p class="detail-1">个人用户首选</p>
								<p class="detail-2">基本型虚拟主机，除B001外都带有小型数据库。适合学生、初级用户、小型网站、企业发布商品或品牌信息。</p>
								<p class="detail-3">分七款不同类型的空间，支持PHP，CGI,ASP，支持Access,Nysql数据库</p>
							</div>
						</div>
						<div class="button">
							<a class="right-important" href="#">GO >></a>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="vps">
			<div class="vps-title">
					<p>独立主机vps</p>
			</div>
			<div class="vps-choose">
				<div class="vps-choose-content">
					<div class="left-important">
						<div class="left-important vps-img"><img src="../../image/body/5.png" alt=""></div>
						<div class="right-important vps-detail vps-bg1">
							<div><h4>商务一型 <span>5599</span>/年</h4></div>
							<div>
								<div class="left-important">
									<p>CPU:奔腾四代2.8 Inter</p>
									<p>内存:512MB</p>
									<p>硬盘:80G高速</p>
								</div>
								<div class="right-important">
									<p>真正25G直接接入ChinaNET</p>
									<p>主板IS-20</p>
								</div>
								<div class="button">
									<a class="right-important" href="#">GO >></a>
								</div>
							</div>
						</div>
					</div>
					<div class="right-important">
						<div class="left-important vps-img"><img src="../../image/body/6.png" alt=""></div>
						<div class="right-important vps-detail vps-bg2">
							<div><h4>商务二型 <span>5599</span>/年</h4></div>
							<div>
								<div class="left-important">
									<p>CPU:奔腾四代2.8C/3.0E</p>
									<p>内存:DDR 1G</p>
									<p>硬盘:80G高速</p>
								</div>
								<div class="right-important">
									<p>真正25G直接接入ChinaNET</p>
									<p>主板IS-20</p>
								</div>
								<div class="button">
									<a class="right-important" href="#">GO >></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="vps-choose-content">
					<div class="left-important">
						<div class="left-important vps-img"><img src="../../image/body/7.png" alt=""></div>
						<div class="right-important vps-detail vps-bg3">
							<div><h4>入门型VPS<span>238</span>/年</h4></div>
							<div>
								<div class="left-important">
									<p>CPU:Inter5405*2 至强4核</p>
									<p>内存:512MB</p>
									<p>硬盘:20G高速</p>
								</div>
								<div class="right-important">
									<p>Windows 2003+SP2</p>
								</div>
								<div class="button">
									<a class="right-important" href="#">GO >></a>
								</div>
							</div>
						</div>
					</div>
					<div class="right-important">
						<div class="left-important vps-img"><img src="../../image/body/8.png" alt=""></div>
						<div class="right-important vps-detail vps-bg4">
							<div><h4>商务2型VPS主机<span>266</span>/年</h4></div>
							<div>
								<div class="left-important">
									<p>CPU:Inter5405*2 至强4核</p>
									<p>内存:1G ECC</p>
									<p>硬盘:40G</p>
								</div>
								<div class="right-important">
									<p>Windows 2003+SP2</p>
								</div>
								<div class="button">
									<a class="right-important" href="#">GO >></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="customer">
			<div class="left-important">
				<ul class="customer-ul">
					<li class="list-title"><h3>典型客户</h3></li>
					<li class="list-border">上海捌跃网络科技有限公司</li>
					<li class="list-border">上海捌跃网络科技有限公司</li>
					<li class="list-border">上海捌跃网络科技有限公司</li>
					<li class="list-border">上海捌跃网络科技有限公司</li>
					<li class="list-border">上海捌跃网络科技有限公司</li>
					<li class="list-border">上海捌跃网络科技有限公司</li>
					<li class="list-border">上海捌跃网络科技有限公司</li>
					<li class="list-border">上海捌跃网络科技有限公司</li>
					<li class="list-more"><a href="#">查看更多>></a></li>
				</ul>
			</div>
			<div class="right-important">
				<ul class="customer-ul">
					<li class="list-title"><h3>典型客户</h3></li>
					<li class="list-border">上海捌跃网络科技有限公司</li>
					<li class="list-border">上海捌跃网络科技有限公司</li>
					<li class="list-border">上海捌跃网络科技有限公司</li>
					<li class="list-border">上海捌跃网络科技有限公司</li>
					<li class="list-border">上海捌跃网络科技有限公司</li>
					<li class="list-border">上海捌跃网络科技有限公司</li>
					<li class="list-border">上海捌跃网络科技有限公司</li>
					<li class="list-border">上海捌跃网络科技有限公司</li>
					<li class="list-more"><a href="#">查看更多>></a></li>
				</ul>
			</div>
		</div>

	</div>
</body>
</html>