<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
    <link rel="stylesheet" href="footer.css">
</head>
<body>
    <div id="footer">
        <div id="footer-wrap">
            <div class="left-important">
                <h4>联系我们</h4>
                <p>手机:17091922777&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;邮箱:ceo@bayuenet.com/service@bayuenet.com</p>
                <p>电话:021-60533652&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;地址:上海市嘉定区天祝路818号嘉鼎国际4楼</p>
            </div>
            <div class="right-important erweima">
                <div><img src="../../image/footer/erweima.png" alt=""></div>
                <div><p>微信公众号</p></div>
            </div>
            <div class="right-important">
                <h4>关于我们</h4>
                <a href="#">公司介绍</a>
                <a href="#">广告联盟</a>
                <a href="#">企业文化</a>
            </div>
        </div>
    </div>
</body>
</html>